:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin: 100px auto 60px auto;
  max-width: 800px;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}
h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  padding: 20px 0;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}
footer {
  text-align: center;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.section-btn {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.section-description {
  text-align: start;
}
h1,
h2,
p {
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding: 20px;
}
h2 {
  font-size: 18px !important;
  opacity: 0.6;
}
a {
  text-decoration: none;
  color: black;
}

.main-img,
.about-img {
  width: 200px;
  border-radius: 50%;
  display: block;
  margin: 20px auto;
}

.hero {
  width: 600px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-top: 110px;
}
.logo {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: lightcoral;
}
.btn-wrapper {
  width: 100%;
}
.btn-branding {
  text-decoration: none;
  margin: 10px;
  background-color: lightcoral;
  text-decoration: none;
  cursor: pointer;
  font-size: 15px;
  text-transform: capitalize;
  padding: 10px 50px;
  border: none;
}
.about-text-wrapper {
  text-align: center;
}
.social-links {
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 40px 0;
}
@media (max-width: 576px) {
  h1 {
    font-size: 48px;
    line-height: 1.5;
  }
  h2 {
    font-size: 32px;
  }
  .desc,
  .about-paragraphs,
  h3 {
    width: 80%;
    margin: 10px auto;
  }
  .img-fluid {
    display: none;
  }
  .section-btn {
    margin: 0 auto;
    display: block;
    text-align: center;
  }
}
